<header>
    <div id="navbar" class="navbar m-3 p-2">
        <a class="navbar-brand" href="/">
            <img src="images/logo.svg" height="40" alt="{{ .Site.Params.Company }}">
            {{ .Site.Params.Company }}
        </a>
        <nav class="navbar-nav flex-row">
            {{ range .Site.Menus.main }}
            <div class="nav-item">
                <a class="nav-link px-2" target="_blank" href="{{ .URL }}">
                    <i data-feather="{{ .Pre }}"></i>
                    {{ .Name }}
                </a>
            </div>
            {{ end }}
        </nav>
    </div>
</header>
