body {
    background: whitesmoke;
    color: grey;
}

#navbar{
    border-radius: 10px;
    background: rgb(150, 225, 255);
}

#navbar a {
    color: rgb(45, 85, 125);
}

#bio img {
    object-fit: contain;
    max-width: 300px;
    max-height: 300px;
}

#brands-carousel {
    margin: auto;
}

.brand-image {
    padding: 20px;
}