body {
    background: rgba(100, 140, 185, 0.85);
    color: whitesmoke;
}

#navbar{
    border-radius: 10px;
    background: rgba(250, 240, 150, 1);
}

#navbar a {
    color: rgba(45, 85, 125, 0.85);
}

#bio img {
    max-width: 200px;
    width: auto;
    height: auto;
    object-fit: cover;
}

#brands-carousel {
    height: 250px;
    width: 400px;
    margin: auto;
}

.brand-image {
    padding: 20px;
    height: 200px;
    width: 350px;
}